<!-- <nav class="navbar navbar-light">
    <a class="navbar-brand na" href="#">
    </a>

</nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9 car">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body p-0">
                    <div class="imga">
                    </div>
                    <div class="row ">
                        <div class="col-lg justify-content-center ">
                            <div class="p-5 ">
                                <form class="user" novalidate *ngIf="!loadComponent">
                                    <div class="text-center">
                                        <br><br>
                                        <p style="font-weight: bold; color:#125BC4"> {{admin == 1? 'Wimera Login': 'Sign In'}}</p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" #name class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" #pass class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="tn text-center">
                                        <button type="button" (click)="loginTo(name, pass,customerName,{keyCode:13})" class="btn btn-primary btn-user ">Login</button>&nbsp;
                                    </div>
                                </form>
                     
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="row mt-5">
    <div class="col-md-4 m-auto">
      <div class="card card-body" style="background-color: beige">
        <h1 class="text-center mb-3"> Login</h1>
        <form #form="ngForm" (ngSubmit)="login(form)">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              #email = "ngModel"
              ngModel
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              #password = "ngModel"
              ngModel
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <!-- <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p> -->
      </div>
    </div>
  </div> 