<!-- <nav class="navbar navbar-light">
    <a class="navbar-brand na" href="#">
    </a>

</nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9 car">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body p-0">
                    <div class="imga">
                    </div>
                    <div class="row ">
                        <div class="col-lg justify-content-center ">
                            <div class="p-5 ">
                                <form class="user" novalidate *ngIf="!loadComponent">
                                    <div class="text-center">
                                        <br><br>
                                        <p style="font-weight: bold; color:#125BC4"> {{admin == 1? 'Wimera Login': 'Sign In'}}</p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" #name class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" #pass class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="tn text-center">
                                        <button type="button" (click)="loginTo(name, pass,customerName,{keyCode:13})" class="btn btn-primary btn-user ">Login</button>&nbsp;
                                    </div>
                                </form>
                     
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->