<!-- <div class="container-fluid">
  <div class="card">
      <div class="card-header">
          <h3 style="float: left;">Book Configuration</h3>
          <button  type="button" title="Add Process" class="btn btn-outline-success btn-sm" style="float: right;" (click)="openModal(template,'Add',null,null)"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        <div class="card-body">
          <div class="table-responsive ">
          <table class="table table-hover ">
            <thead class="thead-dark">
              <tr>                
                <th scope="col">Book</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of books;let i = index">                
                <td scope="row">{{element.book}}</td>
                <td>{{element.author}}</td>
                <td>{{element.publisher}}</td>
                <td>
                  <i title="Edit Process" class="fa fa-edit "(click)="openModal(template, 'Edit',element,i)"></i>&nbsp;&nbsp;&nbsp;
                  <i title="Delete Process" class="fa fa-trash-o" (click)="openModal(template1,'delete',element,i)"></i>                    
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
  </div>
</div>

<ng-template class="modal" #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{action}} Book</h4>
    <button type="button" title="Close" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="example-container">
      <form #uform="ngForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="book">Book</label>
            <input type="text" [(ngModel)] = "book.name" name="book" class="form-control" id="book" required 
            placeholder="Type book name here" #book="ngModel" ngModel>            
          </div>

          <div class="form-group col-md-12">
              <label for="author">Author</label>
              <input type="text"  [(ngModel)]="book.author" name="authorN" 
              class="form-control" id="authorName" required
                  pattern="[A-Za-z ]+"  placeholder="Type author name here" #authorName="ngModel" ngModel>
              <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                  <div [hidden]="!author.hasError( 'required')">author is required</div>
                  <div [hidden]="!author.hasError( 'pattern')">Only alphabets allowed</div>
              </div>
          </div>
          <div class="form-group col-md-12">
            <label for="publisher">Publisher</label>
            <input type="text"  [(ngModel)]="book.publisher" name="publisher" 
            class="form-control" id="publisher" required
                pattern="[A-Za-z ]+"  placeholder="Type publisher name here" #publisher="ngModel" ngModel>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <div [hidden]="!publisher.hasError( 'required')">publisher is required</div>
                <div [hidden]="!publisher.hasError( 'pattern')">Only alphabets allowed</div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12" *ngIf="action=='Update'">
          <label for="inputName" class="label-control">UPLOAD FILE</label>
          <input (change)="handleFileInput($event.target.files)" accept="image/png,image/jpeg,.pdf"
           type="file" [(ngModel)]="book.thumbnail"
            name="file" style="position: relative;opacity: 1;" required>
        </div>
        
        <button class="btn1 btn-primary" [disabled]="!uform.form.valid"
          (click)="saveTo(book)">{{action == 'Edit' ? 'Update':'Add'}}</button>&nbsp; &nbsp;&nbsp; &nbsp;
        <button class="btn1 btn-danger" (click)="modalRef.hide()">Cancel</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template class="modal" #template1>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Book</h4>
      <button type="button" class="close pull-right" aria-label="Close" title="Delete book" (click)="modalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
      <div class="example-container">
          <form>
              <div>
                  <p> Are You Sure to Delete</p>
              </div>
              <button type="submit" class="btn btn-primary" (click)="delete();modalRef.hide()">Delete</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
          </form>
      </div>
  </div>
</ng-template> -->